/* Will be compiled down to a single stylesheet with your sass files */


.dialog_open #page_wrapper {

  /* Blur and de-color */
  -webkit-filter: blur(5px) grayscale(50%);

  /* Recede */
  -webkit-transform: scale(0.9);
}

.dialog_open #ticket_detail {
  /* Regular size and visible */
  -webkit-transform: scale(1); /* prefix me */
  opacity: 1;

  /* Clickable */
  pointer-events: auto;
}

#page_wrapper {

  -webkit-transition: all 0.4s ease; /* prefix me */

}

.visible {
  opacity: 1;
}

foreignObject body {
  background-color: transparent;
}


.avatar {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}


input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;

}

.ui-datepicker-trigger {
  margin-top: 2px;
  padding: 0;
  vertical-align: top;
}

#simpleoverlay-dialog {
  z-index: 1000;
}

#new {
  margin-top: 2em;
}